
//nav
.navbar {
    padding: 0.8rem 1rem;
    background-color: #343a40;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #f8f9fa;
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #00bcd4;
}

.dropdown-menu {
    background-color: #495057;
}

.dropdown-item {
    color: #f8f9fa;
}

.dropdown-item:hover {
    background-color: #00bcd4;
    color: #fff;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.nav-item .nav-link.active {
    color: #00bcd4;
    font-weight: bold;
}


//resposive 

.navbar-toggler-icon {
    background-color: #fff;
}

.nav-item .nav-link.active {
    color: #00bcd4;
    font-weight: bold;
}


.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-input {
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #007bff;
}

.search-btn {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s;
}

.search-btn:hover {
    background-color: #0056b3;
}

.container {
    margin-top: 100px; /* ระยะห่างจาก navbar */
}